



[![innomatics_1.png](https://s22.postimg.cc/vh6rctfn5/innomatics_1.png)](https://www.innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

# Strings - Execrise

In [2]:
text = """The University of Hawaii began using radio to send digital information as early as 1971,using ALOHAnet. 
Friedhelm Hillebrand conceptualised SMS in 1984 while working for Deutsche Telekom. Sitting at a typewriter at home, 
Hillebrand typed out random sentences and counted every letter, number, punctuation, and space. 
Almost every time, the messages contained fewer than 160 characters, thus giving the basis for the 
limit one could type via text messaging. With Bernard Ghillebaert of France Télécom, he developed 
a proposal for the GSM (Groupe Spécial Mobile) meeting in February 1985 in Oslo. 
The first technical solution evolved in a GSM subgroup under the leadership of Finn Trosby. 
It was further developed under the leadership of Kevin Holley and Ian Harris (see Short Message Service). 
SMS forms an integral part of SS7 (Signalling System No. 7). Under SS7, it is a "state" with a 160 character data, 
coded in the ITU-T "T.56" text format, that has a "sequence lead in" to determine different language codes, 
and may have special character codes that permits, for example, sending simple graphs as text. 
This was part of ISDN (Integrated Services Digital Network) and since GSM is based on this, 
made its way to the mobile phone. Messages could be sent and received on ISDN phones, 
and these can send SMS to any GSM phone. The possibility of doing something is one thing, 
implementing it another, but systems existed from 1988 that sent SMS messages to mobile phones (compare ND-NOTIS)."""

> How many characters in text

In [2]:
# CODE HERE

In [5]:
len(text)

1507

> How many words are there in the "text"

In [4]:
# CODE HERE

In [3]:
len(text.split())

244

> How many unique words in the "text"

In [6]:
# CODE HERE

In [4]:
len(set(text.split()))

174

> Find Lexical diversity

lexical_diversity = (number of words)/(number of unique words)

In [8]:
len(text.split())/len(set(text.split()))

1.4022988505747127

> Count how many "the" in text

In [9]:
# CODE HERE

In [10]:
text.lower().count('the')

14

> Count how many "a" in text

In [11]:
text.lower().count('a')

92

> Extract First 10 words in text

In [12]:
# 1: strings to words words =text.split()
2:index

In [5]:
words=text.split()

In [6]:
words[0:10]

['The',
 'University',
 'of',
 'Hawaii',
 'began',
 'using',
 'radio',
 'to',
 'send',
 'digital']

> Append " Innomatics Technology Hub" in first 10 words

In [14]:
# CODE HERE

In [20]:
' '.join(words[0:10]) + 'Innomatics Technology Hub'

'The University of Hawaii began using radio to send digitalInnomatics Technology Hub'

> Extract First Fourteen (14) character in text

In [16]:
# CODE HERE

In [17]:
text[0:14]

'The University'

> Extract first Fourteen (14) words in text

In [18]:
# CODE HERE

In [10]:
x=text.split()
x[0:10]

['The',
 'University',
 'of',
 'Hawaii',
 'began',
 'using',
 'radio',
 'to',
 'send',
 'digital']

> Extract First 10 words in text
- Convert every letter into ***upper*** case
- Convert every letter into ***lower*** case

In [20]:
# CODE HERE

In [20]:
w=text.lower()
w.split()[0:10]

['the',
 'university',
 'of',
 'hawaii',
 'began',
 'using',
 'radio',
 'to',
 'send',
 'digital']

In [21]:
w=text.upper()
w.split()[0:10]

['THE',
 'UNIVERSITY',
 'OF',
 'HAWAII',
 'BEGAN',
 'USING',
 'RADIO',
 'TO',
 'SEND',
 'DIGITAL']

In [13]:
# CODE HERE

'the university of hawaii began using radio to send digital'

> Find the list of letter starting with 
- u
- o

In [24]:
# CODE HERE

In [13]:
x=text.split()
for i in x:

    if i.lower().startswith('u'):
        
        print (i)

University
using
under
under
Under

List of words staring with u is:
{'using', 'university', 'under'}

In [26]:
x=text.split()
for i in x:

    if i.upper().startswith('O'):
        print (i)

of
out
one
of
Oslo.
of
of
of
of
on
on
of
one

> Find the list of letter ending with 
- e
- n

In [28]:
# CODE HERE

In [29]:
startswith

List of words ends with e is:
{'be', 'these', 'deutsche', 'one', 'made', 'he', 'message', 'type', 'mobile', '(compare', 'france', 'determine', '(see', 'have', '(groupe', 'while', 'since', '"sequence', 'simple', 'language', 'the'}

List of words ends with n is:
{'kevin', 'than', 'in', 'ian', 'an', 'solution', 'finn', 'on', 'can', 'information', 'isdn', 'began'}

> Extract first 10 words of text and Capitalize first letter of each word

In [32]:
# CODE HERE

In [3]:
w=text.split()[0:10]
cw=[]
for i in w:
    t=i[0].upper()+i[1:]
    cw.append(t)
    
o=' '.join(cw)
print(o)

The University Of Hawaii Began Using Radio To Send Digital

In [ ]:
o

In [7]:
w

['The',
 'University',
 'of',
 'Hawaii',
 'began',
 'using',
 'radio',
 'to',
 'send',
 'digital']

In [6]:
" ".join(cw)

'The9University9Of9Hawaii9Began9Using9Radio9To9Send9Digital'

> Replace the word "University" with name "Innomatics" in text

In [34]:
# CODE HERE

In [27]:
text.replace('University','innomatics')

'The innomatics of Hawaii began using radio to send digital information as early as 1971,using ALOHAnet. \nFriedhelm Hillebrand conceptualised SMS in 1984 while working for Deutsche Telekom. Sitting at a typewriter at home, \nHillebrand typed out random sentences and counted every letter, number, punctuation, and space. \nAlmost every time, the messages contained fewer than 160 characters, thus giving the basis for the \nlimit one could type via text messaging. With Bernard Ghillebaert of France Télécom, he developed \na proposal for the GSM (Groupe Spécial Mobile) meeting in February 1985 in Oslo. \nThe first technical solution evolved in a GSM subgroup under the leadership of Finn Trosby. \nIt was further developed under the leadership of Kevin Holley and Ian Harris (see Short Message Service). \nSMS forms an integral part of SS7 (Signalling System No. 7). Under SS7, it is a "state" with a 160 character data, \ncoded in the ITU-T "T.56" text format, that has a "sequence lead in" to determine different language codes, \nand may have special character codes that permits, for example, sending simple graphs as text. \nThis was part of ISDN (Integrated Services Digital Network) and since GSM is based on this, \nmade its way to the mobile phone. Messages could be sent and received on ISDN phones, \nand these can send SMS to any GSM phone. The possibility of doing something is one thing, \nimplementing it another, but systems existed from 1988 that sent SMS messages to mobile phones (compare ND-NOTIS).'

In [36]:
my_dist={'name':['mahesh'],'age':[28]}

In [37]:
my_dist['name']

['mahesh']

In [38]:
import pandas as pd

In [39]:
table=pd.DataFrame(data=my_dist)

In [40]:
table

     name  age
0  mahesh   28

# welcome

In [1]:
import findspark
findspark.init()

ModuleNotFoundError: No module named 'findspark'

In [2]:
# Import SparkSession
from pyspark.sql import SparkSession

# Build the SparkSession
spark = SparkSession.builder \
   .master("local") \
   .appName("Linear Regression Model") \
   .config("spark.executor.memory", "1gb") \
   .getOrCreate()
   
sc = spark.sparkContext